<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExcelOrderAddIn.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelOrderAddIn.Properties.Settings>
            <setting name="Table1" serializeAs="String">
                <value>Sklad</value>
            </setting>
            <setting name="Table2" serializeAs="String">
                <value>Katalog</value>
            </setting>
            <setting name="Table3" serializeAs="String">
                <value>Ceník</value>
            </setting>
            <setting name="IdCol1" serializeAs="String">
                <value>Produkt</value>
            </setting>
            <setting name="IdCol2" serializeAs="String">
                <value>Produkt</value>
            </setting>
            <setting name="IdCol3" serializeAs="String">
                <value>Produkt</value>
            </setting>
            <setting name="ImgFolder" serializeAs="String">
                <value>\\Mac\Home\Downloads\prilohy_105850</value>
            </setting>
        </ExcelOrderAddIn.Properties.Settings>
    </userSettings>
</configuration>
